
li[b-toDoItem] {
    display: flex;
    margin: 8px 0;
    gap: 8px;
    align-items: center;
}

li:last-child[b-toDoItem] {
    margin-bottom: 0px;
}

li:first-child[b-toDoItem] {
    margin-top: 0px;
}

.cbl[b-toDoItem] {
    display: block;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background .5s;
}

.cb[b-toDoItem] {
    display: none;
}

.cb:checked + .cbl[b-toDoItem]::after {
    content: '\2713';
    color: white;
}

.cbl[b-toDoItem]::before {
    content: '';
    position: absolute;
}

.cbl[b-toDoItem], .cbl[b-toDoItem]::before {
    width: 20px;
    height: 20px;
    border-radius: 30%;
    border: 1px solid black;
}

.cb:checked + .cbl[b-toDoItem]::before {
    transform: scale(2);
    opacity: 0;
    transition: transform .5s, opacity .5s;
}

.done-item[b-toDoItem] {
    text-decoration: line-through;
    flex: 1 1 100px;
    padding-left: 6px;
    cursor: no-drop;
}

.not-done-item[b-toDoItem] {
    width: 100%;
    background-color: var(--input-task-background-color);
    color: var(--input-task-font-color);
    padding-left: 6px;
}

.delete-button[b-toDoItem] {
    background-color: #FF3030;
    width: 25px;
}